*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --fc-dark: rgb(46, 46, 46, 0.9);
}
h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}
h1,
h2 {
  color: var(--fc-dark);
}

p {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}
.main-container {
  display: grid;
  grid-template-areas:
    "header header"
    "hello hello"
    "youtubability mobilefrontimage"
    "darkdiv darkdiv"
    "mobilebackimage remainingtext"
    "para para"
    "tip tip"
    "fheading fheading"
    "fpara1 fpara2";
}
@media only screen and (max-width: 786px) {
  .main-container {
    grid-template-areas:
      "header"
      "hello"
      "mobilefrontimage"
      "youtubability"
      "darkdiv"
      "remainingtext"
      "mobilebackimage"
      "para"
      "tip"
      "fheading"
      "fpara1"
      "fpara2";
  }
}
/* Main Header */
.heading {
  grid-area: header;
  text-align: center;
  height: 100vh;
  background-image: url("../img/header.png.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
@media only screen and (max-width: 1000px) {
  .heading {
    width: 100%;
    padding: 0%;
  }
}

.hey {
  grid-area: hello;
  text-align: right;
  padding-right: 20%;
}
@media only screen and (max-width: 786px) {
  .hey {
    text-align: center;
    padding: 5%;
  }
}
.youtubability-text {
  grid-area: youtubability;
  color: var(--fc-dark);
  padding: 10px;
  padding-left: 30%;
  padding-top: 20%;
  padding-bottom: 10%;
}
@media only screen and (max-width: 786px) {
  .youtubability-text {
    text-align: center;
    padding: 10%;
  }
}
.youtubability-img {
  grid-area: mobilefrontimage;
  height: 550px;
  background-image: url("../img/phone_no1-03.png");
  background-repeat: no-repeat;
  background-size: 350px 550px;
  background-position: right top;
  padding-bottom: 15%;
}
@media only screen and (max-width: 786px) {
  .youtubability-img {
    background-position: center center;
    width: 100%;
    padding: 15%;
  }
}
.big-dark-div {
  grid-area: darkdiv;
  padding: 10rem;
  background-color: var(--fc-dark);
}
@media only screen and (max-width: 786px) {
  .big-dark-div {
    margin: 0;
  }
}

.remaining-youtubability-img {
  grid-area: mobilebackimage;
  height: 500px;
  width: 100%;
  background-image: url(../img/phone_no2-03.png);
  background-repeat: no-repeat;
  background-size: 400px 550px;
  background-position: left top;
  padding: 5%;
}
@media only screen and (max-width: 786px) {
  .youtubability-img {
    background-position: center center;
    width: 100%;
    padding: 15%;
  }
}

.remaining-youtubability-text {
  grid-area: remainingtext;
  text-align: right;
  padding-right: 30%;
  padding-top: 18%;
  padding-bottom: 10%;
  padding-left: 0%;
}
@media only screen and (max-width: 786px) {
  .remaining-youtubability-text {
    text-align: center;
    padding: 10%;
  }
}
.remaining-para {
  grid-area: para;
  text-align: left;
  padding: 10% 15%;
}
/* Tip of the week Paragraph */
.tip-para {
  grid-area: tip;
  padding: 10% 15%;
  background-image: url("../img/Q1_newsletter-02.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
}
/* Footer Section */
.footer-heading,
.footer-para1,
.footer-para2 {
  background-color: var(--fc-dark);
  color: white;
}
.footer-heading {
  grid-area: fheading;
  padding-top: 5%;
  padding-left: 15%;
  padding-bottom: 1%;
  text-align: left;
}
.footer-para1 {
  grid-area: fpara1;
  padding-bottom: 5%;
  padding-left: 29%;
  text-align: left;
}
.footer-para2 {
  grid-area: fpara2;
  text-align: right;
  padding-bottom: 5%;
  padding-right: 30%;
}
@media only screen and (max-width: 786px) {
  .footer-heading,
  .footer-para1,
  .footer-para2 {
    text-align: center;
    padding: 5%;
    margin: 0;
  }
}
