* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --fc-dark: rgb(46, 46, 46, 0.9);
}
h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}
h1,
h2 {
  color: var(--fc-dark);
}

p {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}
.main-container {
  display: grid;
  grid-template-areas:
    "header header"
    "hello hello"
    "youtubability mobilefrontimage"
    "darkdiv darkdiv"
    "mobilebackimage remainingtext"
    "para para"
    "tip tip"
    "fheading fheading"
    "fheading fheading"
    "fpara1 fpara2";

  padding: 10px;
}
/* Main Header */
.heading {
  grid-area: header;
  text-align: center;
  height: 100vh;
  background-image: url("../img/header.png.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: solid red 10px;
}
.hey {
  grid-area: hello;
  text-align: right;
  padding-right: 2.5rem;
}
.youtubability-text {
  grid-area: youtubability;
  padding: 10px;
  border: solid rebeccapurple 10px;
}
.youtubability-img {
  grid-area: mobilefrontimage;
  background-image: url("../img/phone_no1-03.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  border: solid rebeccapurple 10px;
}
.big-dark-div {
  grid-area: darkdiv;
  padding: 4rem;
  background-color: var(--fc-dark);
}

.remaining-youtubability-img {
  grid-area: mobilebackimage;
  background-image: url(../img/phone_no2-03.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  padding: 10px;
  border: solid rebeccapurple 10px;
}
.remaining-youtubability-text {
  grid-area: remainingtext;
  padding: 10px;
  border: solid rebeccapurple 10px;
}
.remaining-para {
  grid-area: para;
  padding: 10px;
  border: solid red 10px;
}
/* Tip of the week Paragraph */
.tip-para {
  grid-area: tip;
  padding: 2.5rem;
  background-image: url("../img/Q1_newsletter-02.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
}
/* Footer Section */
.footer-heading,
.footer-para1,
.footer-para2 {
  background-color: var(--fc-dark);
  color: white;
}
.footer-heading {
  grid-area: fheading;
  padding: 1rem;
}
.footer-para1 {
  grid-area: fpara1;
  padding: 10px;
}
.footer-para2 {
  grid-area: fpara2;
  padding: 10px;
  text-align: right;
}
